* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
}

article {
  margin-top: 50px;
  display: flex;
  gap: 5px;
}

div {
  width: 200px;
  height: 150px;
  background-color: rgb(205, 204, 204);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
  border-radius: 10px;
}

input,
label {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
